body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; /* Light gray background */
  font-family: Arial, sans-serif; /* Default font */
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff; /* White background */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: 2px solid #131212;
  padding: 1rem;
  border-radius: 5px 5px 0 0;
}

.header h1 {
  font-size: 2rem;
  color: #333; /* Dark text color */
  margin: 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -1rem;
}

.product {
  flex: 0 0 calc(25% - 2rem);
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product h2 {
  font-size: 1.2rem;
  color: #333;
  margin: 0 0 0.5rem;
}

.product p {
  font-size: 1rem;
  color: #666; /* Medium gray text color */
  margin: 0;
}

.add-to-cart-button {
  background-color: #007bff; /* Blue button color */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}